<div class="container">
  <p>Hi, {{ name }}! Let's write something.</p>
  <ng-katex-html [html]="latestContent"
    >This is what you've saved from last time:
    {{ latestContent }}</ng-katex-html
  >
  <div>
    <ng-katex-html [html]="latestContent" class="editable">
      {{ latestContent }}</ng-katex-html
    >
  </div>

  <button class="logout-button" (click)="handleLogout()">Log out</button>
  <!-- <button class="logout-button" (click)="getLatestContent()">
    get latest content
  </button> -->
</div>
